body {
	background: black;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 50px;
	color: #ff8000;
}

h2 {
	color: #c3c4d0;
	font-size: medium;
}

.postcard {
	background: white;
	width: 600px;
	height: 400px;
	margin: auto;
	padding: 10px;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.postcard-header img {
	width: 70px;
	height: 65px;
}

.postcard-body {
	display: flex;
}

.body-left {
	width: 300px;
	font-size: 20px;
}

.body-right {
	width: 290px;
}

.postcard-footer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.btn {
	background: #ff8000;
	display: block;
	width: 200ox;
	border: none;
	border-radius: 20px;
	padding: 10px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
